{
    "singleQuote": true,
    "comma-dangle": ["error", {
        "arrays": "allways",
        "objects": "allways",
        "imports": "allways",
        "exports": "allways",
        "functions": "allways"
    }]
}
