* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $fontColor;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

// Root tag styles
#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 15vh 0 0 0;
}

// Box general styles

.box {
  width: 100%;
  background: white;
  max-height: 100%;
  box-shadow: $boxShadow;
  border-radius: $radius;
  padding: 1.5em;
  max-width: calc(100vw / 5 * 4);

  .title {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.button {
  background: $gradient;
  border: 1px solid;
  color: white;
  padding: 1em;
  border-radius: $radius;
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    transform: scale(0.9);
  }
}
