* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}
body {
  position: relative;
}

// Root tag styles
#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

// Box general styles

.box {
  width: 100%;
  background: white;
  max-height: 100%;
  box-shadow: $boxShadow;
  border-radius: 2em;
  padding: 1.5em;
  max-width: calc(100vw / 5 * 4);

  .title {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
