.todos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  width: 80%;

  .todo {
    transition: 0.2s ease-in-out;
    width: 100%;
    max-width: 100%;
    &:hover {
      transform: scale(1.03);
    }
    &:first-child {
      grid-column: 1/3;
      grid-row: 1/3;
    }

    .description {
      width: 100%;
    }

    .button {
      i {
        color: white;
        padding: 0.2em;
      }
    }
  }
}
