<form action="/" class="form box" id="form">

    <div class="title mb">
        New TODO
        <button type="submit" class="button" id="submitButton">New TODO</button>
    </div>
    <div class="form-control">
        <input type="text" class="form-control-input" autocomplete="off" placeholder=" " id="name" name="name"
            required />
        <label for="name" class="form-control-label">Title</label>
    </div>
    <div class="form-control">
        <input type="text" class="form-control-input" id="desc"  autocomplete="off" placeholder=" " id="name" name="name" required />
        <label for="name" class="form-control-label">Description</label>
    </div>
</form>

<div class="mt-1 todos" id="todos"></div>

<!-- Edit modal -->

<div class="edit hidden form" id="edit">
    <form action="/" class="form-edit box" id="editForm">
    
        <div class="title">
            Edit todo
            <button type="submit" class="button" id="submitButton">Save</button>
        </div>
        <input type="hidden" id="id">
        <div class="form-control">
            <input type="text" class="form-control-input" autocomplete="off" placeholder=" " id="name-edit" name="name" required />
            <label for="name" class="form-control-label">Title</label>
        </div>
        <div class="form-control">
            <input type="text" class="form-control-input" id="description-edit" autocomplete="off" placeholder=" " id="name" name="name"
                required />
            <label for="name" class="form-control-label">Description</label>
        </div>
    </form>
</div>