<form action="/" class="form box">

    <div class="title">
        New TODO
        <button type="submit" class="button">New TODO</button>
    </div>
    <div class="form-section">
        <label for="title" class="form-section-label">Title</label>
        <input type="text" name="title" id="form-title-input" class="form-section-input" required>
    </div>
    <div class="form-section">
        <label for="description" class="form-section-label">Description</label>
        <input type="text" name="title" id="form-descripcion-input" class="form-section-input" required>
    </div>


</form>