.dashboard {
    .chart {
        width: 100%;
        box-shadow: $boxShadow;
        background: white;
        border-radius: 1em;
        padding: 1.5em;

        .title {
            font-size: 15px;
            font-weight: bold;
        }

        .chartCanvas {
            max-height: 45vh;
        }
    }
}
