.dashboard {
    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;

        .name,
        .out {
            padding: 0.5em 1em;
            border-radius: 1em;
            box-shadow: $boxShadow;
        }
        .name {
            background: white;
            cursor: pointer;
            font-weight: bold;
            text-transform: capitalize;
        }

        .out {
            background-image: $gradient;
            color: white;
            &:active {
                transform: scale(0.98);
            }
        }
    }
}
