$purple: #7928ca;
$pink: #ff0080;
$gradient: linear-gradient(310deg, $purple, $pink);
$fontColor: #344767;
$lFontColor: #677fa4;
$bg: #f8f9fa;
$boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$fontL: #b9c1cf;
/*   border radius */
$radius: 0.5rem;
